In [74]:

# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# y la distribución de las variables
# ------------------------------------------------------------------------------
import scipy.stats as stats
from scipy.stats import chi2_contingency, ttest_ind

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

In [15]:
df = pd.read_csv('world_data_full_apply_nulos.csv')

In [3]:
df.head(2)

,Unnamed: 0,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
0,0,Afghanistan,60.0,AF,58.1,652.230,323.0,32.49,93.0,Kabul,8.672,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,NaN,48.9,9.3,71.4,11.12,NaN,33.939110,67.709953,Asia
1,1,Albania,105.0,AL,43.1,28.748,9.0,11.78,355.0,Tirana,4.536,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,NaN,55.7,18.6,36.6,12.33,NaN,41.153332,20.168331,Europe

In [4]:
df.columns

Index(['Unnamed: 0', 'country', 'density', 'abbreviation', 'agricultural_land',
       'land_area', 'armed_forces_size', 'birth_rate', 'calling_code',
       'capital/major_city', 'co2-emissions', 'cpi', 'cpi_change',
       'currency-code', 'fertility_rate', 'forested_area', 'gasoline_price',
       'gdp', 'gross_primary_education_enrollment',
       'gross_tertiary_education_enrollment', 'infant_mortality',
       'largest_city', 'life_expectancy', 'maternal_mortality_ratio',
       'minimum_wage', 'official_language', 'out_of_pocket_health_expenditure',
       'physicians_per_thousand', 'population',
       'population_labor_force_participation', 'tax_revenue', 'total_tax_rate',
       'unemployment_rate', 'urban_population', 'latitude', 'longitude',
       'continent'],
      dtype='object')

# Ejercicios intervalo de confianza

Al igual que en el caso del ejercicio de la clase, piensa un motivo por el que sería interesante calcular estos intervalos de confianza para la extracción de insights.

a. Intervalo de Confianza para la Esperanza de Vida Contexto: Trabajas en una organización de salud global y deseas estimar el intervalo de confianza al 95% para la esperanza de vida promedio de cada continente. Nota: Cuidado porque puede que os salgan algunos nulos, genera un código para que no salgan nulos en los intervalos de confianza.

b.Intervalo de Confianza para el PIB Contexto: Eres una economista y quieres calcular el intervalo de confianza al 90% para el Producto Interno Bruto (PIB) de los continentes.

In [8]:
media = df["life_expectancy"].mean()
media

np.float64(72.27967914438503)

In [9]:
df["life_expectancy"].unique()

array([64.5, 78.5, 76.7,  nan, 60.8, 76.9, 76.5, 74.9, 82.7, 81.6, 72.9,
       73.8, 77.2, 72.3, 79.1, 74.2, 74.5, 61.5, 71.5, 71.2, 77.3, 69.3,
       75.7, 61.2, 57.4, 72.8, 69.6, 58.9, 81.9, 52.8, 54. , 80. , 77. ,
       77.1, 64.1, 64.3, 80.1, 78.1, 78.7, 80.8, 79. , 60.4, 81. , 66.6,
       76.6, 73.9, 76.8, 71.8, 73.1, 58.4, 65.9, 78.2, 66.2, 67.3, 81.7,
       82.5, 61.7, 73.6, 80.9, 63.8, 81.3, 72.4, 74.1, 58. , 69.8, 63.7,
       75.1, 75.8, 69.4, 70.5, 82.3, 82.8, 82.9, 74.4, 84.2, 73.2, 66.3,
       68.1, 75.4, 71.4, 67.6, 74.7, 78.9, 53.7, 72.7, 83. , 82.1, 66.7,
       76. , 78.6, 65.2, 64.7, 75. , 67.8, 69.7, 60.2, 66.9, 63.4, 81.8,
       74.3, 62. , 54.3, 72.1, 77.6, 67.1, 69.1, 78.3, 71.1, 68.7, 71.3,
       76.1, 85.4, 70.2, 67.7, 75.5, 83.1, 57.1, 63.9, 82.6, 57.6, 83.3,
       65.1, 71.6, 83.6, 70.9, 65. , 70.8, 73.4, 77.4, 63. , 77.8, 70.3,
       75.3, 66.1, 63.5])

In [13]:
df["life_expectancy"].isna().sum()

np.int64(8)

In [83]:
df = df.dropna(subset=['continent'])

In [84]:
df['continent'].isna().sum()

np.int64(0)

In [55]:
df = df.dropna(subset=['life_expectancy'])

In [60]:
df["life_expectancy"].isna().sum()

np.int64(0)

In [76]:
error_standart = stats.sem(df["life_expectancy"]) 
error_standart

np.float64(0.5500948232007123)

In [29]:
nivel_confianza = 0.95

In [30]:
grados_liberdad = len(df["life_expectancy"]) - 1

In [31]:
valor_critico = stats.t.ppf((1+nivel_confianza)/2, df=grados_liberdad)         # (degrees of freedom)
valor_critico

np.float64(1.9728001139921347)

In [32]:
distancia = valor_critico * error_standart

In [ ]:
# objetivo es saber si esta campana es simetrica o no

In [33]:
limite_inf = media - distancia   # queremos cortar los extremos derecho y izquierdo de la campana
limite_sup = media + distancia

In [34]:
print(f"Nuestro intervalo es de {np.round(limite_inf, 2)} - {np.round(limite_sup, 2)}")

# el intervalo de confianza para la esperanza de vida promedia del mundo

Nuestro intervalo es de 71.2 - 73.36

In [37]:
df_count = df.groupby('continent')['life_expectancy'].mean()
df_count

continent
Africa             63.725000
Asia               73.781818
Central America    74.690000
Europe             79.202326
North America      80.200000
Oceania            71.125000
South America      74.815385
Name: life_expectancy, dtype: float64

In [ ]:
error_afr = stats.sem(df_count["continent"] == "Africa")

In [61]:

def error_cont(cont):
    for e in df: 
        filtered = df[df["continent"] == cont]
        return stats.sem(filtered["life_expectancy"])

In [62]:
error_cont("Africa")

np.float64(0.8321675480660724)

In [66]:
errores_por_continente = {cont: error_cont(cont) for cont in df["continent"]}
errores_por_continente

{'Asia': np.float64(0.7228033919519603),
 'Europe': np.float64(0.5522378551302907),
 'Africa': np.float64(0.8321675480660724),
 'Central America': np.float64(0.7879654013243284),
 'South America': np.float64(0.8391728340246076),
 'Oceania': np.float64(1.6935763217451287),
 'North America': np.float64(1.7000000000000028)}

In [ ]:
# una funcion que inclua todo: el error, el nivel de confianca, valor critico.. 
# para cualquier columna, la que pasemos cuando llamemos a la funcion
# 
def intervalo(columna, nivel_confianza=0.95):  
    pass
    # media de columna
    # error 
    # lo necesario para calucular el intervalo de confianza 


    # despues unique a continente y aplicar en buckle

_IncompleteInputError: incomplete input (3480146929.py, line 8)

In [ ]:
# despues eligir el continente + life expentacy

In [58]:
def error_cont(cont):
    filtered = df[df["continent"] == cont]
    return stats.sem(filtered["life_expectancy"])

In [59]:
error_cont("Africa")

np.float64(0.8321675480660724)

In [ ]:
error_cont("Asia")


## Prueba de Hipótesis

a. Test de Normalidad :Verifica si la variable "life_expectancy" (esperanza de vida) sigue una distribución normal usando el test de Shapiro-Wilk o Kolmogorov-Smirnov según el tamaño de la muestra.

b. Test de Igualdad de Varianzas: Comprueba si la varianza del PIB (GDP) es igual en países de Europa y África usando el test de Bartlett (si los datos son normales) o Levene (si no son normales).

c. Comparación de Medias (t-Test de Student o Mann-Whitney U): ¿La esperanza de vida difiere significativamente entre países de Europa y Asia?

d. Prueba de Hipótesis sobre Proporciones: ¿Hay una diferencia significativa en la tasa de desempleo entre los países de Europa y América?

e. Comparación de Medias en Precios de Gasolina : ¿El precio de la gasolina (gasoline_price) es significativamente diferente entre países con un PIB alto y PIB bajo?

In [69]:
df_count = df.groupby('continent')['life_expectancy'].mean()
df_count

continent
Africa             63.725000
Asia               73.781818
Central America    74.690000
Europe             79.202326
North America      80.200000
Oceania            71.125000
South America      74.815385
Name: life_expectancy, dtype: float64

In [ ]:
def error_cont(cont):
    for e in df_count:
        result = stats.sem(df_count[df_count['continent']==cont])
        return result

In [90]:
for e in df_count:
    print(e)

63.724999999999994
73.78181818181818
74.69
79.20232558139534
80.2
71.125
74.81538461538462